In [2]:
# Data Cleaning
import pandas as pd

file_path = '../DataSet/ecommerce_customer_data_custom_ratios.csv'
ecommerce_data = pd.read_csv(file_path)

ecommerce_data.head(), ecommerce_data.info()

ecommerce_data_cleaned = ecommerce_data.drop(columns=["Age", "Customer Name"])

ecommerce_data_cleaned['Purchase Date'] = pd.to_datetime(ecommerce_data_cleaned['Purchase Date'])

ecommerce_data_cleaned['Returns'] = ecommerce_data_cleaned['Returns'].fillna(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  object
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                202404 non-null  float64
 9   Customer Name          250000 non-null  object
 10  Age                    250000 non-null  int64
 11  Gender                 250000 non-null  object
 12  Churn                  250000 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 24.8+ MB

In [3]:
# Verification of Cleaned Data
ecommerce_data_cleaned.info()

# Check a summary of the data for further insights
ecommerce_data_cleaned.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  datetime64[ns]
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total Purchase Amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                250000 non-null  float64
 9   Gender                 250000 non-null  object
 10  Churn                  250000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 21.0+ MB

C:\Users\rishi\AppData\Local\Temp\ipykernel_17560\2704655976.py:5: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  ecommerce_data_cleaned.describe(include='all')

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Gender,Churn
count,250000.00000,250000,250000,250000.000000,250000.000000,250000.000000,250000,250000.000000,250000.000000,250000,250000.000000
unique,NaN,249736,4,NaN,NaN,NaN,4,NaN,NaN,2,NaN
top,NaN,2022-05-08 12:58:55,Clothing,NaN,NaN,NaN,Credit Card,NaN,NaN,Female,NaN
freq,NaN,3,75052,NaN,NaN,NaN,100486,NaN,NaN,125560,NaN
first,NaN,2020-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2023-09-15 12:24:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,25004.03624,NaN,NaN,254.659512,2.998896,2725.370732,NaN,43.940528,0.403076,NaN,0.199496
std,14428.27959,NaN,NaN,141.568577,1.414694,1442.933565,NaN,15.350246,0.490517,NaN,0.399622
min,1.00000,NaN,NaN,10.000000,1.000000,100.000000,NaN,18.000000,0.000000,NaN,0.000000
25%,12497.75000,NaN,NaN,132.000000,2.000000,1477.000000,NaN,31.000000,0.000000,NaN,0.000000
50%,25018.00000,NaN,NaN,255.000000,3.000000,2724.000000,NaN,44.000000,0.000000,NaN,0.000000
75%,37506.00000,NaN,NaN,377.000000,4.000000,3974.000000,NaN,57.000000,1.000000,NaN,0.000000
max,50000.00000,NaN,NaN,500.000000,5.000000,5350.000000,NaN,70.000000,1.000000,NaN,1.000000